img {
  max-width: 100%;
  border-radius: $border-radius-sm;
}
.img-raised {
  box-shadow: $box-shadow-raised;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title-logo {
  width: 30px;
}

.icon-title {
  width: 80px;
}

@media (max-width: 768px) {
  .img-about-row {
    max-width: 30%;
    margin: 30px 0;
  }
}
