<div class="wrapper landing-page">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />
    
        <img class="path2" src="assets/img/path2.png" />
    
        <img class="shapes triangle" src="assets/img/triunghiuri.png" />
    
        <img class="shapes wave" src="assets/img/waves.png" />
    
        <img class="shapes squares" src="assets/img/patrat.png" />
    
        <img class="shapes circle" src="assets/img/cercuri.png" />
    
        <div class="content-center">
          <div
            class="row row-grid justify-content-between align-items-center text-left"
          >
            <div class="col-lg-6 col-md-6">
              <h1 class="text-white">
                O nas 
              </h1>
              <p class="text-white mb-3">
                XSWare Solution to nowoczesna firma programistyczna, 
                której fundamentem jest wieloletnie doświadczenie i pasja do tworzenia innowacyjnych rozwiązań IT.
              </p>
            </div>
            <div class="col-lg-4 col-md-5">
              <img
                alt="Circle image"
                class="img-fluid"
                src="assets/img/platform.png"
              />
            </div>
          </div>
        </div>
    </div>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-between">
                <div class="col-lg-4 col-md-5">
                    <img
                      alt="Circle image"
                      class="img-fluid"
                      src="assets/img/users.png"
                    />
                </div>
              <div class="col-md-6">
                <div class="pl-md-5">
                  <h1>
                    Kim jesteśmy?
                  </h1>
                  <p>
                    Za marką stoi doświadczony programista, 
                    który łączy wiedzę techniczną z kreatywnym podejściem do projektowania systemów, 
                    aplikacji i stron internetowych.
                  </p>
                  <br />
    
                  <p>
                    Działamy z myślą o klientach, którzy szukają nie tylko wykonawcy, 
                    ale partnera do współpracy – kogoś, kto doradzi, 
                    zaplanuje i stworzy rozwiązanie skrojone idealnie do potrzeb biznesu.
                  </p>
                  <br />
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-between">
              <div class="col-md-6">
                <div class="pl-md-5">
                  <h1>
                    Co nas wyróżnia?
                  </h1>
                  <p>
                    ✅ Indywidualne podejście – Każdy projekt zaczynamy od rozmowy. 
                    Słuchamy, analizujemy i proponujemy najlepsze rozwiązania dopasowane do realnych potrzeb.
                  </p>
                  <br />
                  <p>
                    ✅ Kompleksowość usług – Od projektu graficznego (UX/UI), 
                    przez tworzenie oprogramowania, aż po wdrożenie i integracje systemów 
                    – wszystko w jednym miejscu.
                  </p>
                  <br />
                  <p>
                    ✅ Technologiczna pasja – Śledzimy nowinki, 
                    korzystamy z nowoczesnych frameworków i stale rozwijamy nasze kompetencje.
                  </p>
                  <br />
                  <p>
                    ✅ Przejrzysta współpraca – Działamy uczciwie i transparentnie. 
                    Zawsze wiesz, na jakim etapie jest Twój projekt.
                  </p>
                  <br />
                </div>
              </div>
              <div class="col-lg-4 col-md-5">
                <img
                  alt="Circle image"
                  class="img-fluid"
                  src="assets/img/problem-solving.png"
                />
              </div>
            </div>
        </div>
    </section>
</div>