<div class="wrapper register-page">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <div class="square square-7" id="square7"></div>
              <div class="square square-8" id="square8"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img
                    alt="Card image"
                    class="card-img"
                    src="assets/img/square1-red.png"
                  />
  
                  <h4 class="card-title">Rejestracja</h4>
                </div>
                <form class="form" (ngSubmit)="onSubmit()" [formGroup]="registryForm" autocomplete="on">
                  <div class="card-body">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-single-02"> </i>
                          </div>
                        </div>
                        <input
                          id="firstName" 
                          class="form-control"
                          name="firstName"
                          formControlName="firstName"
                          placeholder="Imię"
                          type="text"
                          (focus)="focus = true"
                          (blur)="focus = false"
                          [tooltip]="getFirstNameError()"
                          triggers="manual"
                          [isOpen]="submitted && !!firstName && firstName.invalid"
                          container="body" 
                          maxlength="15"
                        />
                      </div>
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus1 === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-single-02"> </i>
                          </div>
                        </div>
                        <input
                          id="lastName"
                          class="form-control"
                          name="lastName"
                          formControlName="lastName"
                          placeholder="Nazwisko"
                          type="text"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                          [tooltip]="getLastNameError()"
                          triggers="manual"
                          [isOpen]="submitted && !!lastName && lastName.invalid"
                          container="body" 
                          maxlength="15"
                        />
                      </div>
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus2 === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-email-85"> </i>
                          </div>
                        </div>
                        <input
                          id="email"
                          class="form-control"
                          name="email"
                          formControlName="email"
                          placeholder="Email"
                          type="email"
                          (focus)="focus2 = true"
                          (blur)="focus2 = false"
                          [tooltip]="getEmailError()"
                          triggers="manual"
                          [isOpen]="submitted && !!email && email.invalid"
                          container="body"
                          autocomplete="email"
                        />
                      </div>
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus3 === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-lock-circle"> </i>
                          </div>
                        </div>
                        <input
                          id="password"
                          class="form-control"
                          name="password"
                          formControlName="password"
                          placeholder="Hasło"
                          type="password"
                          (focus)="focus3 = true"
                          (blur)="focus3 = false"
                          [tooltip]="getPasswordError()"
                          triggers="manual"
                          [isOpen]="submitted && !!password && password.invalid"
                          container="body"
                        />
                      </div>
                      <div class="form-check text-left">
                        <label class="form-check-label">
                          <input 
                            formControlName="regulationsAccept"  
                            class="form-check-input" 
                            type="checkbox" 
                            [tooltip]="getRegulationsError()"
                            [isOpen]="submitted && !!regulationsAccept && regulationsAccept.invalid"
                            container="body"
                          />
    
                          <span class="form-check-sign"> </span> Rejestrując się, akceptujesz
                          <a href="javascript:void(0)"> regulamin </a> .
                        </label>
                      </div>
                    
                  </div>
                  <div class="card-footer">
                    <button
                      class="btn btn-danger btn-round btn-lg"
                      type="submit"
                    >
                      Zarejestruj się
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="register-bg"></div>
          <div class="square square-1" id="square1"></div>
          <div class="square square-2" id="square2"></div>
          <div class="square square-3" id="square3"></div>
          <div class="square square-4" id="square4"></div>
          <div class="square square-5" id="square5"></div>
          <div class="square square-6" id="square6"></div>
        </div>
      </div>
    </div>
</div>