
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">XSWare Solution</h1>
        <h4>
          Witaj w XSWare Solution – miejscu, gdzie technologia spotyka się z pasją.
           Tworzymy nowoczesne, dopasowane do potrzeb rozwiązania IT, które pomagają firmom rosnąć, 
           automatyzować procesy i być o krok przed konkurencją.
        </h4>
      </div>
    </div>
  </div>

  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Co robimy?</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon">
                  <img
                      alt="Web App"
                      class="icon-title"
                      src="assets/img/web_app.png"
                    />
                </div>
                <h4 class="info-title">Aplikacje webowe / internetowe</h4>
                <hr class="line-primary" />

                <p>
                  Budujemy dedykowane rozwiązania webowe dostosowane do specyfiki Twojego biznesu 
                  – od prostych paneli po złożone systemy zarządzania.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon">
                  <img
                      alt="Web App"
                      class="icon-title"
                      src="assets/img/mobile_app.png"
                    />
                </div>
                <h4 class="info-title">Aplikacje mobilne iOS i Android</h4>
                <hr class="line-warning" />

                <p>
                  Tworzymy intuicyjne i wydajne aplikacje mobilne, 
                  które działają płynnie na każdej platformie 
                  i dają Twoim użytkownikom świetne doświadczenia.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon">
                  <img
                      alt="Web App"
                      class="icon-title"
                      src="assets/img/www_app.png"
                    />
                </div>
                <h4 class="info-title">Strony internetowe</h4>
                <hr class="line-success" />

                <p>
                  Projektujemy responsywne, szybkie i estetyczne witryny, 
                  które przyciągają uwagę i konwertują odwiedzających w klientów.
                </p>
              </div>
            </div>
          </div>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon">
                  <img
                      alt="Web App"
                      class="icon-title"
                      src="assets/img/sales_app.png"
                    />
                </div>
                <h4 class="info-title">Sklepy internetowe</h4>
                <hr class="line-primary" />

                <p>
                  Projektujemy estetyczne, responsywne i funkcjonalne witryny oraz sklepy e-commerce, 
                  które przyciągają uwagę, są łatwe w obsłudze i skutecznie sprzedają.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon">
                  <img
                      alt="Web App"
                      class="icon-title"
                      src="assets/img/integrated_pay.png"
                    />
                </div>
                <h4 class="info-title">Integracja systemów IT</h4>
                <hr class="line-warning" />

                <p>
                  Łączymy różne narzędzia i platformy w jeden spójny ekosystem, 
                  który usprawnia przepływ danych i automatyzuje kluczowe procesy w firmie.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon">
                  <img
                      alt="Web App"
                      class="icon-title"
                      src="assets/img/design_ux.png"
                    />
                </div>
                <h4 class="info-title">UX/UI Design</h4>
                <hr class="line-success" />

                <p>
                  Tworzymy przemyślane interfejsy i pozytywne doświadczenia użytkownika. 
                  Dbamy o to, by Twoje produkty były nie tylko funkcjonalne, ale też przyjemne w użytkowaniu.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
          <h1 class="text-center">Dlaczego warto nam zaufać?</h1>
          <div class="row row-grid justify-content-center">
            <h4>✔ Indywidualne podejście do każdego projektu</h4>
            <h4>✔ Przejrzysta komunikacja i pełne zaangażowanie</h4>
            <h4>✔ Nowoczesne technologie i wysoka jakość kodu</h4>
            <h4>✔ Doświadczenie, estetyka i pasja do tworzenia oprogramowania</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>